@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

*::-webkit-scrollbar{
    display: none;
}

.ant-switch{
    background: #F95225;
    @apply hover:!bg-[#e93504];
}

.ant-switch-checked{
    background: #1f1695 !important;
    @apply hover:!bg-[#100a68];
}

.rightSectionShadowLG{
    box-shadow: -7px 4px 4px #00000040;
}


@media screen and (max-width: 1024px) {
    .rightSectionShadow{
        box-shadow: 0px -4px 4px #00000040;
    }
}
